/* Move down content because we have a fixed navbar that is 50px tall */
/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold.ttf') format('truetype');
}


body {
    font-family: Roboto,Roboto-Regular,Arial,Verdana;
    background: url('../images/backprezent.jpg') no-repeat;
    background-position: center top;
}

.banner_top {
    display: flex;
    justify-content: space-between;
    padding: 24px 30px;
    align-items: center;
}

    .banner_top .logo, .name_org, .phone, .email {
    }

    .banner_top .logo {
    }

    .banner_top .name_org {
        margin-left: 30px;
        justify-self: flex-start;
        justify-content: flex-start;
        flex: 1 1 auto;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #5B3723;
    }

    .banner_top .phone {
        align-self: flex-start;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #737473;
    }

    .banner_top .email {
        align-self: flex-start;
        margin-left: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #737473;
    }

    .banner_top .content {
        /* flex: 1 1 100px;
        padding: 0px 0px 0px 0px;*/
    }


header_page .banner_top {
  /*  margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 36px;*/
}
header_page .banner_menu .bg-light {
    background-color: #5B3723 !important;
}

.desc {
    padding: 0px 0px 0px 0px;
    color: #5B3723;
}

    

        .desc .left_col {
        }
            .desc .left_col .header {
                margin-top: 50px;
            }

            .desc .left_col .items {
                margin-top: 30px;
            }

            .desc .left_col img {
               
                
               /* height:316px;*/
                border: 1px solid #5B3723;
            }

            .desc .left_col table {
               
                width: 706px !important;
                border: 1px solid #5B3723 !important;
            }
            .desc .left_col .td_name {
                background: #D9B594;
                border: 1px solid #5B3723;
                padding: 10px 0px 10px 12px;
                
                font-style: normal;
                font-weight: 700;
                
                
            }

            .desc .left_col .td_value {
                background: #D9B344;
                border: 1px solid #5B3723;
                padding: 10px 0px 10px 12px;
            }


        .desc .right_col {
            
            background: #737473;
            padding: 30px 55px;
        }

            .desc .right_col h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
            }

            .desc .right_col img {
                margin-top: 30px;
            }

    .desc .experience {
        margin-top: 30px;
    }

            .desc .experience .base_text {
                
                background: #FFFFFF;
                border: 1px solid #737473;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding: 30px;
                margin-bottom:30px;
            }

    .pages {

    }
        .pages .content {
            height:640px;
        }

        .pages .header {
            margin-top: 50px;
        }
        .pages .items {
            margin-top: 30px;
        }
        .pages .card {
            width: 706px;
            filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
            margin-bottom:30px;
        }
        .pages .item_body {
            background: #D9B344;
            padding: 10px;
            border: 1px solid #5B3723;
        }
        .pages .card-body {
            
        }
        .pages .item_img {
            background: #D9B594;
            padding: 20px;
            border: 1px solid #5B3723;
        }

        .pages .card_url {
            text-decoration: none;
            color: #5B3723 !important;
        }

        .pages .card_url:hover {
            text-decoration: none;
            color: #000000 !important;
        }

.pages .card-img {
}



footer {
    padding: 19px;
    background: #A57665;
}

    footer .base_text {
        width: 1174px;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 28px;
    }

#navbarSupportedContent {
}

    #navbarSupportedContent a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        color: #FFFFFF;
    }

@media only screen and (max-width: 1400px) {
    
}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 980px) {

    .banner_top .name_org {
        flex: 0 1 auto;
        flex-wrap:wrap;
        font-size: 24px;
        line-height: 24px;
    }


    .banner_top .phone {
        font-size: 16px;
        line-height: 16px;
    }

    .banner_top .email {
        font-size: 16px;
        line-height: 16px;
    }
}
/*Small*/
@media only screen and (max-width: 767px) {
    .desc .experience {
        margin-top: 30px;
        margin-left:0px;
    }
        .desc .experience .base_text {
            margin-bottom: 30px;
            margin-left: 0px;
        }


    .desc .right_col {
        padding: 21px 18px;
    }

    .desc .right_col img {
        margin-top: 30px;
        
    }

    .desc .left_col .items {
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .callback .btnmc {
        padding: 15px 30px 8px 30px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .reviews_suggestions .btnmc {
        padding: 15px 30px 8px 30px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}



