<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/css/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/SitePages.css" />
  </styleBundle>
  <styleBundle path="~/Content/css_pages">
    <include path="~/Content/SitePages.css" />
  </styleBundle>
 
</bundles>


